# ID of VPC created with Visual Insights backend
# Run this command: ibmcloud is vpcs 
vpc_id = ""
resource_group_name = ""
# Use the same key used with Visual Insights backend
ibmcloud_api_key = ""
visual_insights_model_api_url=""